body {
    font-family: fantasy, sans-serif;
}

table {
    /*width: 100%;*/
    /*border-collapse: unset;*/
    table-layout: inherit;
    overflow: hidden;
    width: 300px;
}

table .item {
    width: 300px;
}

table .item_label {
    width: 150px;
}

input {
    width: 20px;
}

.free-table {
    display: table-cell;
}

.command-input, .cmdButton , .commandOutputButton {
    width: 80px
}

.command-table th {
    width: 150px;
}

.command-table td {
    width: 150px;
    text-align: left;
}




#colorValue_2, .color_value {
    width: auto;
}

#name_2 {
    object-position: center;
}

table td {
    background: beige;
}

.way th {
    width: 50px;
}

.way td {
    width: 350px;
}

/*th.relative{*/
/*    width: 250px;*/
/*}*/

table.relative {
    width: 400px;
}


th.relative_num {
    width: 100px;
}

th.relative_check {
    width: 120px;
}

table th {
    background: #fff5e5;
}

textarea {
    row-gap: 5px;
    font-family: system-ui;
}


.inputEnch, .inputEffect {
    min-width: 200px;
}

.inputLvl, .inputTime {
    width: auto;
}

.base input {
    width: auto;
}

option.item {
    width: 200px;
}


.attr {
    width: 100px;
}

.textarea {
    width: 100%;
}

label.relative_check {
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
}

th.item_label {
    width: 200px;
}

td.item {
    width: 100px;
}

